@import url("https://use.typekit.net/nqa1brn.css");

:root {
    /* --dark: rgb(4, 23, 56); */
    --dark: #3a5154;
    /* --dark:#1d2625; */
    --light: whitesmoke;
    --title: #929aa2;
    --animate-duration: 2s;
}
* {
    margin: 0;
    padding: 0;
    background-color: var(--dark);
    
}
html{
    scroll-behavior: smooth;
}
body {
    
    font-family: fino-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
}
header {
    height: 80vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10% 5%;
    font-size: 400%;
    color: var(--title)
    /* font size */
    /* background-color: var(--dark); */
}
.aSimple {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.gpaTitle {
    width: 100%;
    display: flex;
    justify-content: center;
}
/* .animate__fadeIn {
    --animate-delay: 6s;
} */
.calulatorTitle {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.arrowContainer {
    display: flex;
}
.arrowContainer span {
    display: inline-block;
    border:solid  var(--light);
    border-width: 0 3px 3px 0;
    /* border-height: 0 15px 15px 0; */
    padding: 20px;
}
.arrow {
    transform: rotate(45deg);
}
.inputContainer {
    display: flex;
    height: 100%;
    color: var(--light);
}
.savedClasses {
    width: 20%;
    text-align: center;
}
.main {
    text-align: center;
    width: 80%;
}
input {
    background-color: var(--light);
    color: black;
    border-radius: 10px;
    height: 30px;
}
.classContainer, .formContainer {
    margin: 7% 0;
}
.formContainer {
    display: flex;
    
}
.col {
    flex:50%
}
.tableContainer {
    display: flex;
    height: 60vh;
    padding-top: 7%;
    justify-content: center;
}