/* body {
    background-color: salmon;
} */
:root {
    --dark: black;
    --light: whitesmoke;
}
* {
    margin: 0;
    padding: 0;
    background-color: var(--dark);
    color: var(--light)
}
/* body {
 font-family   
}
    */
header {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10% 5%;
    /* font size */
    /* background-color: var(--dark); */
}
.aSimple {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.gpaTitle {
    width: 100%;
    display: flex;
    justify-content: center;
}
.calulatorTitle {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}